.create-form {
    max-width: 600px;
    margin: auto; /* Center the form horizontally */
    padding: 10px; /* Add some inner spacing */
    border-radius: 8px; /* Optional for rounded corners */
    background: #f9f9f9; /* Optional for background color */
    position: relative; 
    top: 30%; 
    transform: translateY(-50%); /* Adjust for vertical centering */

}
